<footer>
    <a>&copy; 2012 - 2015</a>
    <%= link_to "Uğur &ldquo;vigo&rdquo; Özyılmazel", "http://ugur.ozyilmazel.com" %>
    <%= link_to icon("github-square"), "https://github.com/vigo/devpod.git" %>
</footer>

