<div class="block footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= link_to "&copy; 2012 - 2014 / Uğur &ldquo;vigo&rdquo; Özyılmazel", "http://ugur.ozyilmazel.com" %>
          <%= link_to "Powered by Middleman", "http://middlemanapp.com" %>
          <%= link_to "Source", "https://github.com/vigo/devpod.git" %>
        </div>
      </div>
    </div>
</div>
