<ul class="list-unstyled list-devpod">
<%
page_articles.each_with_index do |article, i|
  file_size = Filesize.from("#{article.metadata[:page]['length']} B").to_s("Mb")
  time_data = article.date.strftime('%Y-%m-%d %H:%M:%S')
  i18n_date = I18n.localize(article.date, :format => "%e %B %Y, %A, saat %H:%M")
  concat '<li>'
    concat link_to icon("download"), podtrack_url(article.metadata[:page]['download']), :class => "btn btn-primary btn-xs pull-right", :title => "İndirmek için tıkla: #{file_size}"
    concat link_to "#{article.title}#{has_video(article)}<time datetime=\"#{time_data}\">#{i18n_date}</time>", article, :target => "_self", :title => "Bölüm notları ve detaylar için tıklayın"
  concat '</li>'
end
%>
</ul>

<%= custom_pager :paginate => paginate,
                 :num_pages => num_pages,
                 :current_page => page_number,
                 :prev_page => prev_page,
                 :next_page => next_page,
                 :url_home => url_home,
                 :url_schema => url_schema
%>
