<div id="sidebar-logo">
    <p><a href="/" target="_self"><%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %></a></p>
    <ul class="nav nav-pills">
        <li><a href="/"><i class="fa fa-home fa-sm"></i> Anasayfa</a></li>
        <li><a href="http://bit.ly/devpod-itunes"><i class="fa fa-rss fa-sm"></i> iTunes</a></li>
        <li><a href="http://eepurl.com/NumbP"><i class="fa fa-envelope-o fa-sm"></i> Bülten</a></li>
    </ul>
</div>
