<p><a href="/" target="_self"><%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %></a></p>
<p>
    <a class="btn" href="http://bit.ly/devpod-itunes"><i class="fa fa-rss fa-sm"></i> iTunes</a>
    <a class="btn" href="http://eepurl.com/NumbP"><i class="fa fa-envelope-o fa-sm"></i> Bülten</a>
</p>
