@media (max-width: 767px){
    footer {
        a { display: block; }
    }

    .detail {
        h1, h3 {
            font-size: 1em;
        }
    }
    
    #markdown-content {
        p:first-of-type {
            font-size: 1em;
        }
    }
}
