body {
  background-color: $site-global-bg;
  color: $site-global-fg;
  font-family: 'Helvetica Neue';
}

@for $i from 0 through 6 {
  .dbg#{$i+1} { background-color: darken(yellow, 3 * $i); }
  h#{$i+1} {
    @include clearfix;
    margin: 0 0 .5em 0;
    padding: 0;
    font-family: inherit;
    font-weight: 600;
    color: red;
    small {
      display: block;
      font-weight: inherit;
      color: $devpod-green;
    }
  }
}

a {
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

strong {
  color: $site-strong-fg;
  font-weight: 600;
}

.block {
  padding: 50px 0;
}

p { margin-bottom: 1em; }

.list-general {
  li {
    @include clearfix;
    padding: .75em 0;
    border-bottom: 1px solid lighten($site-link-fg, 35);
    .pull-right { margin-left: 1em; }
  }
}

#sidebar-logo {
  background-color: #eee;
  padding: 2em 2em .3em 2em;
  margin-bottom: 2em;
  .nav {
    margin-bottom: 1em;
    li > a {
      padding: 0 20px 0 0;
    }
  }
}

#markdown-content {
  h3 {
    border-bottom: 2px solid red;
    padding-bottom: 0px;
    margin-bottom: 1em;
  }
  p:first-of-type {
    font-size: 1.6em;
    font-weight: 200;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
    li {
      padding: 0 0 1em 0;
      a:before {
        content: "» ";
      }
    }
  }
}

.tag-area,
#archive-area {
  a { color: white; }
  span {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 8px 10px;
  }
}
