@for $i from 0 through 6 {
  .dbg#{$i+1} { background-color: darken(yellow, 3 * $i); }
}

body {
  font-family: 'Helvetica Neue';
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 300;
}

a {
  font-weight: 600;
}

.block {
  padding: 5em 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin-bottom: 1em;
}

#logo {
  // background-color: lighten($devpod-yellow, 10);
  background-color: black;
  padding: 2em 2em .2em 2em;
  margin-bottom: 1em;
  img { margin-bottom: 1em; }
  text-align: center;
  // color: $devpod-green;
  color: white;
  font-weight: 600;
}

.btn-devpod {
  background-color: black;
  font-weight: 500;
  border-radius: 0;
  color: white;
  &:hover { color: yellow; }
  margin-right: 1em;
}

.list-devpod {
  li.page-number {
    font-weight: 600;
  }
  li:first-child {
    padding-top: 0;
  }
  li {
    padding: 1em 0;
    border-bottom: 1px solid #eee;
  }
}

#episode-detail {
  h1 {
    background-color: black;
    color: white;
    margin: 0;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: yellow;
      }
    }
  }
}

#markdown-content {
  h3 {
    font-weight: 600;
    // color: $markdown-lead;
    color: black;
    border-bottom: 2px solid black;
    // border-bottom: 2px solid $markdown-lead;
  }
  p:first-of-type {
    // background-color: $markdown-lead;
    background-color: #ddd;
    color: black;
    // color: white;
    padding: 1em;
    margin-top: 1.3em;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.4em;
    a { color: inherit; }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: .2em 0;
      a:after {
        content: " »"
      }
    }
  }
}

.tags-area {
  a { color: white; }
}


#tag-detail,
#year-detail {
  h1 {
    margin: 0 0 1em 0;
  }
}

.archives {
  margin-bottom: 1em;
  strong {
    display: block;
    padding-bottom: 0;
    margin-bottom: .4em;
    border-bottom: 2px solid black;
  }
  a { display: block; }
}
