---
pageable: true
per_page: 10
title: "Arşiv"
---
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                <%= partial "partials/logo_part" %>
                
                <p class="lead text-center">
                    <strong><%= year %></strong> yılına ait <%= articles.count %> kayıt!
                </p>
                
                <%= partial "partials/list_page_articles", :locals => {
                    :page_articles => page_articles,
                    :paginate => paginate,
                    :num_pages => num_pages,
                    :page_number => page_number,
                    :prev_page => prev_page,
                    :next_page => next_page,
                    :url_home => "/#{year}/",
                    :url_schema => "/#{year}/sayfa/%d/"
                } %>

            </div>
        </div>
    </div>
</div>