---
pageable: true
per_page: 10
title: "Türkçe Developer Podcast"
description:  "Türkçe kaynak yok diyenlere müjde! Türkçe podcast! Açık kaynak, Mac, Linux ve tüm popüler web teknolojileri!"
---
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                <%= partial "partials/logo_part" %>
                
                <%= partial "partials/list_page_articles", :locals => {
                    :page_articles => page_articles,
                    :paginate => paginate,
                    :num_pages => num_pages,
                    :page_number => page_number,
                    :prev_page => prev_page,
                    :next_page => next_page,
                    :url_home => "/",
                    :url_schema => "/sayfa/%d/"
                } %>
                
                
                <div class="archives visible-xs">
                    <p>Arşiv&rsquo;de toplam <strong><%= blog.articles.size %></strong> kayıt bulunuyor.</p>
                    <ul class="list-unstyled">
                        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                        <li><%= link_to "» #{year}: [ #{articles.size} kayıt ]", blog_year_path(year) %></li>
                        <% end %>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
