---
pageable: true
per_page: 10
---
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <%= tag :img, :src => "/public/images/devpod-logo.png", :alt => "devPod logo" %>
            </div>
            <div class="col-sm-8">
                <h1>devPod<small>Türkçe Developer Podcast</small></h1>
                <p class="lead">
                  <strong>Mayıs 2012</strong>&rsquo;den beri ara ara yayınına devam eden kendi meşrebinde bir podcast!
                  Modern yazılım teknolojileri, popüler kütüphaneler, yazılım dilleri, konferanslar,
                  iOS ve MacOS gibi konular içerir.
                </p>

                <ul class="list-unstyled list-general">
                    <%
                    page_articles.each_with_index do |article, i|
                      file_size = Filesize.from("#{article.metadata[:page]['length']} B").to_s("Mb")
                      concat '<li>'
                        concat link_to article.title, article, :target => "_self", :title => "Bölüm notları ve detaylar için tıklayın"
                        concat link_to '<i class="fa fa-download"></i>', article.metadata[:page]['download'], :class => "btn btn-primary btn-xs pull-right", :title => "İndirmek için tıkla: #{file_size}"
                      concat '</li>'
                    end
                    %>
                </ul>
                <%= custom_pager :paginate => paginate,
                                 :num_pages => num_pages,
                                 :current_page => page_number,
                                 :prev_page => prev_page,
                                 :next_page => next_page,
                                 :url_home => "/",
                                 :url_schema => "/page/%d/"
                %>
            </div>
        </div>
    </div>
</div>
