---
pageable: true
per_page: 10
---
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <%= partial "partials/logo_part" %>
            </div>
            <div class="col-sm-7" id="episode-detail">
                <h1>&ldquo;<%= tagname %>&rdquo; ile etiketli<small>(<%= articles.count %> kayıt)</small></h1>
                <ul class="list-unstyled list-general">
                    <%
                    page_articles.each_with_index do |article, i|
                        file_size = Filesize.from("#{article.metadata[:page]['length']} B").to_s("Mb")
                        concat '<li>'
                            concat link_to '<i class="fa fa-download"></i>', article.metadata[:page]['download'], :class => "btn btn-primary btn-xs pull-right", :title => "İndirmek için tıkla: #{file_size}"
                            concat link_to article.title, article, :target => "_self", :title => "Bölüm notları ve detaylar için tıklayın"
                        concat '</li>'
                    end
                    %>
                </ul>
                <%= custom_pager :paginate => paginate,
                                 :num_pages => num_pages,
                                 :current_page => page_number,
                                 :prev_page => prev_page,
                                 :next_page => next_page,
                                 :url_home => "/etiket/#{tagname}/",
                                 :url_schema => "/etiket/#{tagname}/sayfa/%d/"
                %>

            </div>
        </div>
    </div>
</div>
